@using PSF.Dominio.Entities;
@model Usuario

<form asp-action="InserirConfirmar" asp-controller="Funcionario" method="POST">
    <label class="control-label">Código do Funcionário: </label>
    <input asp-for="UsuarioId" class="form-control" />

     <label class="control-label">Nome:</label>
    <input asp-for="Nome" class="form-control" />

    <label class="control-label">CPF:</label>
    <input asp-for="CPF" class="form-control" />

    <label class="control-label">Email:</label>
    <input asp-for="Email" class="form-control" />

    <label class="control-label">Status:</label>
    <input asp-for="Status" class="form-control" />

    <hr />
    <button type="submit" class="btn btn-success">
        SALVAR
    </button>
</form>