@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

html body {
    margin: 0;
    font-size: 1rem;
    font-weight: 500px;
    line-height: 1.5;
    color: #205db1;
    transition: 1s;
    background-color: #deeaf5
}

.form-floating {
    margin-right: 50px ;
}
.esqueci-senha {
    margin-left: 5px;
    margin-top: 100px;
    font-size: 13px
}
.col{


}
.card-img-top {
    padding-top: 70px;
}
.form-check {
    margin-top: 20px;
}

.identifique {
    margin-top: 40px;
}

h3 {
    color: #205db1;
    
}

.login {
    margin-top: 30px;
}

.container {
    align-items: center;
}

footer {
    margin-top: 20px;
    font-size: 12px;
}

.field-validation-error {
    color: #e01d1d;
}
.close-alert {
    margin-top: 15px;
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}
