@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;

}


html body {
   margin-bottom: 60px;
   background-color: #f8f9fa;
}

#table-usuarios {
    font-size: 13px;
}

.dataTables_length {
    font-size: 13px;
    color: #0042a9
}


.nav-item {
    font-size: 18px;
}

.form-floating {
    margin-right: 20px;
}

footer {
    display: none;
}

.field-validation-error {
    color: #e01d1d;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}
