@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
    position: relative;
    min-height: 100%;

}
.table-striped tr:nth-child(even) {
    background-color: #d2f7fc1b

}

.table-striped tr:nth-child(odd) {
    background-color: #f8f9fa
}
.table-striped td,
.table-striped th, .form-label {
    font-weight: bold;
    color: #304360
}
.este{
    background-color: #808080;
}
th{
    font-size:16px
}
.titulo-bonitao {
    font-size: 35px;
    font-weight: bold;
    color: #3498db; /* Cor azul */
    text-align: center;
    margin-bottom: 50px;
    margin-top:40px;


}

html body {
    margin-bottom: 60px;
    background-color: #f8f9fa;
}
.dataTables_filter {
   
}
#table-usuarios 
{
    font-size: 12px;
    
}
.table {
    padding-top: 40px
}
.dataTables_length {
    font-size: 13px;
    color: #0042a9
}


.nav-item {
    font-size: 18px;
}

.form-floating {
    margin-right: 20px;
}

footer {
    display: none;
}

.field-validation-error {
    color: #e01d1d;
}

.close-alert {
    position: absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width: 30px;
    height: 31px;
}
