

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;

}
body {
    margin: 0;
    font-family: 'rawline', Rawline, serif;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #333333;
    background-color: #fff;
}
.nav-item {
    font-size: 18px;
}
.form-floating {
margin-right: 20px;
}
.esqueci-senha {
    margin-right: 30px;
}
.form-check {
    margin-top: 20px;
}
.identifique {
    margin-top: 40px;
}
.login {
    margin-top: 30px;
}
footer {
    display: none;
}

.field-validation-error {
    color: #e01d1d;
}
.close-alert{
    position:absolute;
    right: -10px;
    top: -15px;
    border-radius: 15px;
    width:30px;
    height:31px;
}
