<div class="container-fluid">
    <div class="row">
        <div class="container-fluid">
            <button type="button" id="toggle-btn" class="text-primary">
                <svg xmlns="http://www.w3.org/2000/svg" width="1.8rem" height="1.8rem" fill="currentColor" class="bi bi-justify" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M2 12.5a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5m0-3a.5.5 0 0 1 .5-.5h11a.5.5 0 0 1 0 1h-11a.5.5 0 0 1-.5-.5" />
                </svg>
            </button>
        </div>
        <nav id="sidebar" class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="position-sticky">
                <ul class="nav flex-column">
                    <li style="padding-top:50px" class="nav-item">
                        <a class="nav-link text-primary" alt="logo" asp-area="" asp-controller="Home" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L8 2.207l6.646 6.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293z" />
                                <path d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6Z" />
                            </svg>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="Indicador" asp-action="Index">

                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-heart-pulse-fill" viewBox="0 0 16 16">
                                <path d="M1.475 9C2.702 10.84 4.779 12.871 8 15c3.221-2.129 5.298-4.16 6.525-6H12a.5.5 0 0 1-.464-.314l-1.457-3.642-1.598 5.593a.5.5 0 0 1-.945.049L5.889 6.568l-1.473 2.21A.5.5 0 0 1 4 9z" />
                                <path d="M.88 8C-2.427 1.68 4.41-2 7.823 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C11.59-2 18.426 1.68 15.12 8h-2.783l-1.874-4.686a.5.5 0 0 0-.945.049L7.921 8.956 6.464 5.314a.5.5 0 0 0-.88-.091L3.732 8H.88Z" />
                            </svg>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="Evento" asp-action="SelecionarRelatorio">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-file-earmark-arrow-down-fill" viewBox="0 0 16 16">
                                <path d="M9.293 0H4a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h8a2 2 0 0 0 2-2V4.707A1 1 0 0 0 13.707 4L10 .293A1 1 0 0 0 9.293 0M9.5 3.5v-2l3 3h-2a1 1 0 0 1-1-1m-1 4v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 11.293V7.5a.5.5 0 0 1 1 0" />
                            </svg>
                        </a>
                    </li>

                    @if (Model.Perfil == PSF.Dominio.Entities.UsuarioTipo.Admin)
                    {
                        <li class="nav-item">
                            <a class="nav-link text-primary" asp-area="" asp-controller="Usuario" asp-action="Index">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
                                    <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6m-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1zM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5" />
                                </svg>
                            </a>
                        </li>
                    }

                    <li class="nav-item">
                        <a class="nav-link text-primary" asp-area="" asp-controller="Esf" asp-action="Index">
                            <svg xmlns="http://www.w3.org/2000/svg" width="22" height="32" fill="currentColor" class="bi bi-house-heart-fill" viewBox="0 0 16 16">
                                <path d="M7.293 1.5a1 1 0 0 1 1.414 0L11 3.793V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5v3.293l2.354 2.353a.5.5 0 0 1-.708.707L8 2.207 1.354 8.853a.5.5 0 1 1-.708-.707z" />
                                <path d="m14 9.293-6-6-6 6V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5zm-6-.811c1.664-1.673 5.825 1.254 0 5.018-5.825-3.764-1.664-6.691 0-5.018" />
                            </svg>
                        </a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link text-danger" asp-area="" asp-controller="Autenticacao" asp-action="Sair">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="30" fill="currentColor" class="bi bi-power" viewBox="0 0 16 16">
                                <path d="M7.5 1v7h1V1h-1z" />
                                <path d="M3 8.812a4.999 4.999 0 0 1 2.578-4.375l-.485-.874A6 6 0 1 0 11 3.616l-.501.865A5 5 0 1 1 3 8.812z" />
                            </svg>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</div>

<style>
    #sidebar .nav-link {
        display: flex;
        align-items: center;
        padding: 30px;
        text-decoration: none;
    }
    #sidebar .nav-link svg {
        margin-right: 10px;
    }
    #toggle-btn {
        cursor: pointer;
        color: black;
        border: none;
        background-color: transparent;
        display: flex;
        align-items: center;
        padding: 10px
    }
    #sidebar .navbar-brand {
        width: 50%;
        text-align: center;
        margin-bottom: 20px;
    }
    #sidebar ul {
        width: 100%;
    }
    #sidebar ul li {
            width: 100%;
    }
    main {
        margin-left: 20px;
    }
    #content {
        transition: margin-left 0.4s;
    }
    #sidebar {
        transition: margin-left 0.4s;
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        z-index: 1000;
        width: 1px;
        padding-top: 50px;
    }
</style>
<script>
    document.getElementById('toggle-btn').addEventListener('click', function () 
    {
        var sidebar = document.getElementById('sidebar');
        var content = document.getElementById('content');

        if (sidebar.style.marginLeft === '0px') 
        {
            sidebar.style.marginLeft = '-100%'; 
            content.style.marginLeft = '0';
        } 
        else 
        {
            sidebar.style.marginLeft = '0';
            content.style.marginLeft = '200px';
        }
    });
</script>