@using PSF.Dominio.ValueObjects;
@model IMAPViewModel
<div>
    <div class="container mt-5">
        <div class="row">
            <div class="d-grid gap-2 d-md-block">
                <h1 class="titulo-bonitao">IMAB - Indicadores Monitorados pela Atenção Básica</h1>

                <form id="eventoForm" asp-action="IMAB" method="post">
                    <div style="padding-left:30%" class="form-row">
                        <div class="form-group col-md-6">
                            <label for="selectMes">Mês</label>
                            <select id="selectMes" class="form-control">
                                <option value="01">Janeiro</option>
                                <option value="02">Fevereiro</option>
                                <option value="03">Março</option>
                                <option value="04">Abril</option>
                                <option value="05">Maio</option>
                                <option value="06">Junho</option>
                                <option value="07">Julho</option>
                                <option value="08">Agosto</option>
                                <option value="09">Setembro</option>
                                <option value="10">Outubro</option>
                                <option value="11">Novembro</option>
                                <option value="12">Dezembro</option>
                            </select>
                       
                        
                            <label for="selectAno">Ano</label>
                            <select asp-for="Ano" class="form-control">
                                <option value="2022">2022</option>
                                <option value="2023">2023</option>
                                <option value="2024">2024</option>
                            </select>
                        </div>
                    </div>                   
    <br />
    <table class="table table-sm" id="table-IMAP">
        <thead class="br-list horizontal" role="list" color="blue">
            <tr class="header">
                <div class="title">
                    <h4>Cadastrar </h4>
                </div>
                <br />
                <th class="br-item" role="listitem"><b>Tipo</b></th>
                <th  class="br-item" role="listitem"><b>Indicadores</b></th>
                <th class="br-item" role="listitem">
                    <b>Valor Total</b>
                    <span class="br-divider"></span>
            </tr>
        </thead>
        <tbody class="header">
            @foreach (var item in Model.Indicadores)
            {
                <tr tr class="br-list horizontal">
                    <td style="padding-right:40px;" class="br-item" role="listitem">@item.IndicadorTipo</td>
                    <td class="br-item" role="listitem">@item.Titulo</td>
                                    <td style="padding:10px;">
                                        <input style="width:70px; height:30px;"  type="number" class="" inputmode="numeric" data-id="valor" data-indicador-id="@item.IndicadorId">
                    </td>
                </tr>
            }
        </tbody>

                    </table>
                    <br />
                    <button type="button" id="button-IMAP-enviar" class="btn btn-success">Registrar</button>
                </form>
            </div>
        </div>
    </div>
</div>
@section Scripts 
{
    <script>
        $("#button-IMAP-enviar").on("click", function (){
            var entidade = new Array();

            $("#table-IMAP tbody tr").each(function () {
                const $self = $(this);
                const $input = $self.find("[data-id='valor']");

                entidade.push({
                    IndicadorId: $input.data("indicador-id"),
                    Valor: $input.val()
                });

                fetch("/Evento/IMAB_Confirmar", {
                    method: 'POST',
                    headers: {
                        'Accept': 'application/json',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify(entidade)
                })

                //$.post("/Evento/IMAB_Confirmar", entidade);
            });

        });
    </script>
    

    @*<script>
        $(document).ready(function () {
            // Quando o formulário é enviado
            $('#eventoForm').submit(function (e) {
                e.preventDefault(); // Evita o envio padrão do formulário

                // Obtém os valores selecionados
                var selectedMes = $('#selectMes').val();
                var selectedAno = $('#selectAno').val();

                // Cria uma data usando os valores selecionados
                var dataSelecionada = new Date(selectedAno, selectedMes - 1, 1);

                // Atualiza a propriedade Data da classe Evento
                var evento = {
                    EventoId: 1, // Substitua pelo valor adequado
                    IndicadorId: 2, // Substitua pelo valor adequado
                    Data: dataSelecionada,
                    Valor: 0 // Substitua pelo valor adequado
                };

                // Exibe a data criada (para fins de teste)
                console.log("Data selecionada: " + dataSelecionada.toISOString());

                // Faça o que for necessário com o objeto 'evento', como enviar para o servidor
            });
        });
    </script>*@
}

